
.mapcontainer{
  height: 50vh;
  border-radius: 5px;
  overflow: auto;
  padding-left: 0;
}

.contact-header{
  height: auto;
}

.contact-card {
 text-align: center;
 border-radius: 10px;
}

.contact-card .ant-card-body {
  padding-bottom: 0;
  font-size: 18px;
}

.contact-card .ant-card-head-title {
  padding-bottom: 0;
}

.contact-content {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100vw;
  margin : auto;
  background-color: white;
}

.typography-contact {
  margin-bottom: 5em;
}

h3 {
  font-size: 22px;
}

a {
  color : inherit;
}

a:hover {
  color : black
}

@media only screen and (max-width: 768px) {
  .mobileCss {
    background: none;
  }
  .typography-contact {
    margin-bottom: 4em;
  }
  h1.typography-contact-title {
    margin-bottom: 0;
  }
  .contact-content {
    width: 95vw;
  }
  .ant-layout-footer {
    margin: 0;
  }
}