
.logo {
  max-width: 100%;
  margin : auto;
  padding : 1em 0;
  }

.horizontalMenu {
  padding: 2em 3em 2em 1em;
  border: none;
  color: white;
  background: none;
  font-size: 20px;
  font-weight: bold;
}

.verticalMenu {
  border: none;
  background: none;
  font-size: 20px;
}

.ant-drawer-body{
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
}

.drawer-logo-text,
.logo-text {
  margin-bottom: 0;
  color:firebrick;
  font-family: Lato, sans-serif;
  text-shadow: 2px 2px rgba(0,29,63,0.4);
}

h1.logo-text {
  font-size: 48px;
}

h2.logo-text {
  font-size: 30px;
  line-height: 10px;
}
.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-item-selected {
  background: none;
  border-bottom: none;
}

.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-item-selected a {
  background: none;
  color: firebrick;
}

.ant-menu-horizontal:not(.ant-menu-dark) >.ant-menu-item a{
  color : white;
}

.ant-menu-horizontal:not(.ant-menu-dark) >.ant-menu-item a:hover
{
  color : firebrick;
  border-bottom: none;
}

.ant-menu-horizontal >.ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal >.ant-menu-item:hover {
  border-bottom: none;
}
.ant-menu-item-only-child{
  border-bottom: none;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected a{
  color : firebrick;
  border-bottom: none;
}

.ant-menu .verticalMenu ant-menu-light ant-menu-root ant-menu-vertical{
  color: firebrick;
}

.ant-menu-item:hover,
.ant-menu-item a:hover {
  color: firebrick;
  border-bottom: none;
}