
table td  {
  padding: 5px;
  font-size: 12px;
}

h1.ant-typography, .ant-typography h1 {
  color: white;
  font-weight: bold;
  font:inherit;
  font-size:50px;
}

.ant-typography {
  text-align: center;
  color: white;
}
.typographyContainer {
  padding : 6em 0 8em 0;
}

.ant-card-head-title{
  font-size: 16px;
}

.frontCard {
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
  background-color: white;
  text-align:center;
  border-radius: 5px;
  box-shadow: 0 16px 24px 2px rgba(0,29,63,0.14);
}