
.logo {
  max-width: 100%;
  margin : auto;
  padding : 1em 0;
  }

.horizontalMenu {
  padding: 2em 3em 2em 1em;
  border: none;
  color: white;
  background: none;
  font-size: 20px;
  font-weight: bold;
}

.verticalMenu {
  border: none;
  background: none;
  font-size: 20px;
  padding-top: 1em;
}



.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-item-selected {
  background: none;
  border-bottom: 2px solid firebrick;
}

.ant-menu-vertical:not(.ant-menu-dark) > .ant-menu-item-selected a {
  background: none;
  color: firebrick;
}

.ant-menu-horizontal:not(.ant-menu-dark) >.ant-menu-item a{
  color : white;
}

.ant-menu-horizontal:not(.ant-menu-dark) >.ant-menu-item a:hover{
  color : firebrick;
}

.ant-menu-horizontal:not(.ant-menu-dark) >.ant-menu-item:hover{
  border-bottom: 2px solid firebrick;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  border-bottom: 2px solid firebrick;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected a {
  color: firebrick;
}