

.layout {
  min-height: 100vh;
  background-image: url(./images/battery1.jpeg);
  background-color: rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.site-layout-content {
  background-color: white;
}

.ant-layout-header {
  height: 100%;
  background: none;
  line-height: initial;
  padding: 0 0 3em 0;
  border-radius: 0 0 5px 5px;
  border-bottom: 1em solid rgba(0, 0, 0, 0.3);
}

