.layout {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/battery1.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  min-height: 100%;
}

.layout .header {
  background: none;
  display: inline-flex;
  justify-content: space-between;
}

.layout .footer {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  color: white;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .layout {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(./images/battery1-copy.jpeg);
    background-size: 100%;
    background-attachment: fixed;
  }
}
